/* CSS Document */
body{
font-family:Î¢ÈíÑÅºÚ;
font-size:14px;
background-image:url(../images/bj.jpg);
background-size:100% 100%;
background-attachment:scroll;
margin-bottom:100px;
padding-left:3px;
padding-right:3px;
}
.dibu{
position:fixed;
z-index:100;
bottom:0px;
width:100%;
height:50px;
background-color:#6699CC;
background-image:url(../images/beijng.png);
background-repeat:repeat-x;}
.dibu-1{
height:50px;
line-height:50px;
width:21%;
color:#00CC00;
text-align:center;}
.dibu-2{
height:50px;
line-height:50px;
width:21%;
color:#ffffff;
text-align:center;}
.dibu-3{
height:50px;
line-height:50px;
width:35%;
color:#ffffff;
text-align:center;
background-image:url(../images/jiantou.png);
background-repeat:no-repeat;
background-position:right;
}
.dibu-3-1{
height:46px;
margin-top:2px;
width:70%;
background-image:url(../images/kuang111.png);
background-size:100% 100%;}
.dibu-4{
height:50px;
line-height:50px;
width:22%;
color:#ffffff;
text-align:center;
background-color:#3399CC;
border-left:solid 2px #FFFFFF;}
.dibu-3-11{
height:23px;
line-height:23px;
text-align:center;
color:#FFFFFF;
font-size:13px;}
.dibu-5{
height:50px;
line-height:50px;
width:50%;
color:#ffffff;
padding-left:10px;
}
a:link { 
text-decoration:none; 
} 
a:visited { 
text-decoration:none; 
} 

.left{
float:left;}
.right{
float:right;}
.clear{
clear:both;}
.top{
height:120px;
width:100%;
position:fixed;
z-index:9;
top:0px;
}
.top-1{
height:102px;
width:100%;
background-image:url(../images/lt.jpg);
background-size:100% 100%;}
.top-2{
height:18px;
width:100%;
background-image:url(../images/tj.jpg);
background-size:100% 100%;
}
.baojia{
position:absolute;
position:fixed;
top:12px;
width:98%;
margin-left:1%;
height:120px;
}
.baiyin{
margin-top:20px;
width:30%;
height:80px;
background-image:url(../images/sjql.png);
background-size:80px 80px;
background-repeat:no-repeat;
background-position:center;
margin-right:2%;}
.yuanyou{
margin-top:20px;
width:30%;
height:80px;
background-image:url(../images/sjqh.png);
background-size:80px 80px;
background-repeat:no-repeat;
background-position:center;
margin-right:2%;}
.grzh{
width:32%;
height:100px;
background-size:100px 100px;
background-image:url(../images/grzh1.png);
background-repeat:no-repeat;
background-position:center;
position:relative;
}
.grzh-left{
height:51px;
width:51px;
position:absolute;
top:30px;
left:0px;}
.zi{
height:25px;
line-height:30px;
padding-left:10px;
font-weight:600;
color:#FFFFFF;
font-size:13px;}
.zi1{
height:25px;
line-height:10px;
padding-left:10px;
font-weight:600;
color:#FFFFFF;
font-size:13px;}
.grzh-right{
height:62px;
width:62px;
position:absolute;
top:0px;
right:0px;}
.cz{
height:20px;
line-height:25px;
text-align:center;
font-weight:600;
color:#FFFFFF;
font-size:13px;}
.cz1{
height:20px;
line-height:15px;
text-align:center;
font-weight:600;
color:#FF0000;
font-size:13px;}

.shang{
height:40px;
line-height:60px;
text-align:center;
color:#FFFFFF;}
.zuo{
height:40px;
width:60%;
text-align:right;
line-height:30px;
color:#FFFFFF;}
.you{
height:15px;
width:35%;
margin-left:2%;
text-align:left;}
.bottom{
margin-top:3px;
width:100%;
padding-bottom:120px;
z-index:1;
position:absolute;
top:120px;
}
.shangpin{
width:100%;
margin:auto;
height:219px;
padding-top:77px;
text-align:center;
background-image:url(../images/kuang.png);
background-size:100% 296px;
}
.shangpin1{
width:26%;
margin-left:9%;
height:192px;
background-color:#FFFFFF;
position:relative;
}
.shangpin2{
width:26%;
margin-left:2%;
height:192px;
background-color:#FFFFFF;}
.antop{
height:46px;
width:100%;
background-image:url(../images/lan.png);
background-size:100% 46px;}
.andom{
height:46px;
width:100%;
background-image:url(../images/han.png);
background-size:100% 46px;
position:absolute;
bottom:0px;}
.shuju{
height:25px;
line-height:25px;
text-align:center;}
.shuju span{
color:#FF0000;
font-size:18px;}
.shuju1{
height:25px;
line-height:25px;
text-align:center;
font-size:12px;}
.hangqing{
width:100%;
margin:auto;
height:300px;
padding-top:77px;
text-align:center;
background-image:url(../images/kuang2.png);
background-size:100% 370px;

}
.hq{
height:40px;
}
.hq1{
height:20px;
line-height:20px;
text-align:center;
color:#734c02;
font-size:13px;
font-weight:600;}
.hqt{
width:80%;
height:58%;
background-repeat:no-repeat;
margin:auto;
background-image:url(../images/tu.jpg);
margin-top:5px;
}
.hq_anniu{
height:30px;
margin-top:6px;}
.anniu{
height:30px;
line-height:30px;
color:#FFFFFF;
font-size:12px;
width:14%;
margin-left:8%;
background-image:url(../images/hq_an1.png);
background-size:100% 30px;
background-repeat:no-repeat;}
.anniu1{
height:30px;
line-height:30px;
color:#4d1d00;
font-size:12px;
width:17%;
margin-left:1%;
background-image:url(../images/hq_an1.png);
background-size:100% 30px;
background-repeat:no-repeat;}
.tck{
position:fixed;
top:15%;
left:5%;
z-index:10;
display:none;
}
.tck1{
height:235px;
padding-top:55px;
width:300px;
background-image:url(../images/tck.png);
background-size:100% 100%;
position:relative;
}
.qux{
position:absolute;
top:0px;
right:0px;
height:30px;
width:30px;}
.shuliang{
height:70px;}
.shuliang2{
height:25px;
line-height:25px;
width:10%;
margin-left:7%;
text-align:center;}
.shuliang1{
height:25px;
}
.fgx12{
height:2px;
background-color:#dfbc80;
width:90%;
margin:auto;
margin-bottom:10px;}
.shuliang3{
height:25px;
line-height:25px;
width:30%;
margin-left:10%;
color:#FFFFFF;
font-weight:700;
text-shadow:1px 1px 1px rgba(0,0,0,.3);}
.shuliang3 span{
color:#FF0000;
font-size:26px;}
.shuliang4{
height:25px;
line-height:25px;
width:80%;
margin-left:10%;
color:#FFFFFF;
font-weight:700;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
}
.shuliang5{
height:25px;
line-height:25px;
width:30%;
margin-left:10%;
color:#5e3d03;
}
.shuliang5 span{
color:#FF0000;
font-size:26px;}
.shuliang6{
height:30px;
line-height:25px;
width:60%;
margin:auto;
background-image:url(../images/yebz.png);
background-size:100% 100%;
}
.fanhui{
height:60px;
width:90%;
margin:auto;
background-image:url(../images/fanhui.png);
background-repeat:no-repeat;
background-size:100% 60px;
line-height:60px;
text-align:center;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;
font-size:18px;
margin-top:10px;}
.fanhui1{
height:60px;
width:90%;
margin:auto;
background-image:url(../images/fanhui1.png);
background-repeat:no-repeat;
background-size:100% 60px;
line-height:60px;
text-align:center;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;
font-size:18px;
margin-top:10px;}
.tishikuang{
height:230px;
padding-top:20px;
width:90%;
margin-left:5%;
margin-top:20px;
background-color:#0e3447;
border-radius:10px;
border:solid 3px #b3e6ff;
background-size:100% 100%;}
.tishikuang11{
height:310px;
padding-top:20px;
width:90%;
margin-left:5%;
margin-top:20px;
background-color:#0e3447;
border-radius:10px;
border:solid 3px #b3e6ff;
}
.tishikuang1{
height:35px;
line-height:35px;
margin-left:5%;
color:#FFFFFF;}
.tishikuang2{
height:40px;
width:90%;
margin:auto;
margin-top:15px;
background-color:#17506d;
border-radius:10px;
margin-bottom:15px;
position:relative;}
.xzsj{
height:155px;
width:95%;
background-color:#2f7da4;
position:absolute;
top:40px;
left:2%;
display:none;
}
.shu1{
height:30px;
border-bottom:solid 1px #FFFFFF;
line-height:30px;
text-align:center;
color:#FFFFFF;}
.zhi{
height:40px;
width:25%;
margin-left:10px;
line-height:40px;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;
}
.shu{
height:40px;
margin-right:10px;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;
}
.tu{
background-image:url(../images/jiantou.png);
height:25px;
width:25px;
margin-top:9px;
margin-right:8px;
}
.tu11{
background-image:url(../images/tx.png);
height:40px;
width:40px;
margin-right:10px;
background-size:100% 100%;
}
.shuliang7{
height:40px;
line-height:25px;
width:40%;
margin:10px auto;
background-image:url(../images/ljcz.png);
background-size:100% 100%;
}
.tishikuang0{
height:550px;
padding-top:20px;
width:90%;
margin-left:5%;
margin-top:20px;
background-color:#0e3447;
border-radius:15px;
border:solid 3px #b3e6ff;}
.tishikuang01{
height:510px;
padding-top:20px;
width:90%;
margin-left:3%;
margin-top:20px;
background-color:#0e3447;
border-radius:15px;
border:solid 3px #b3e6ff;
}

.tishikuang0_1{
height:100px;
width:90%;
margin:auto;
background-color:#17506d;
border-radius:10px;
}
.tishikuang0_11{
height:140px;
width:90%;
margin:auto;
}
.tishikuang0_12{
height:100px;
}

.tishikuang0_31{
height:40px;
color:#FFFFFF;
text-align:center;
line-height:40px;
width:90%;
margin:auto;
}

.tishikuang0_2{
height:290px;
padding-top:10px;
width:90%;
margin:auto;
background-color:#17506d;
border-radius:10px;
margin-top:10px;
}
.tishikuang0_22{
height:90px;
padding-top:10px;
width:90%;
margin:auto;
background-image:url(../images/ban.png);
background-size:100% 100%;
margin-top:10px;
}
.tishikuang0_23{
height:150px;
padding-top:10px;
width:90%;
margin:auto;
background-color:#17506d;
border-radius:6px;
margin-top:10px;
}
.tishikuang0_3{
height:45px;
padding-top:5px;
width:90%;
margin:auto;
background-color:#17506d;
border-radius:10px;
margin-top:10px;
margin-bottom:15px;
}
.zhi0-1{
height:45px;
width:35%;
margin-left:6%;
line-height:45px;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;
}
.zhi0-11{
height:40px;
width:50%;
line-height:45px;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;
}
.zhi0-111{
height:40px;
width:36%;
line-height:45px;
color:#FFFFFF;
background-image:url(../images/qqan.png);
background-repeat:no-repeat;
background-size:100% 100%;
text-align:center;
margin-right:8%;
}
.zhi0-12{
height:45px;
width:80%;
margin:auto;
line-height:45px;
color:#FFFFFF;
font-weight:800;
}
.shu0-1{
height:40px;
margin-right:20px;
line-height:45px;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;
}
.tu_1{
background-color:#b3e6ff;
height:40px;
line-height:40px;
padding-left:1%;
font-size:13px;
width:52%;
text-align:left;
margin-right:3%;
}
.tu_1 img{
float:right;
margin-right:2px;
margin-top:8px;}
.tu_1 input{
border:0px;
width:80%;
background-color:#b3e6ff;
height:70%;
margin-top:2%;
margin-left:2%;
color:#2684b2;
}
.tu_10{
border-radius:3px;
background-color:#b3e6ff;
height:40px;
line-height:45px;
padding-left:1%;
font-size:13px;
width:40%;
text-align:left;
margin-left:4%;
margin-right:1%;
border:solid 1px #FFFFFF;
}
.tu_10 img{
float:right;
margin-right:2px;
margin-top:8px;}
.tu_10 input{
border:0px;
width:80%;
height:70%;
margin-top:2%;
border-radius:3px;
background-color:#b3e6ff;
margin-left:1%;
color:#2684b2;
}

.tu_11{
background-color:#b3e6ff;
border:solid 1px #FFFFFF;
border-radius:3px;
height:40px;
line-height:45px;
padding-left:1%;
font-size:13px;
width:90%;
margin:auto;
text-align:left;
}
.tu_11 input{
border:0px;
border-radius:3px;
background-color:#b3e6ff;
width:80%;
margin-left:1%;
height:70%;
margin-top:2%;
color:#2684b2;
}

.tu_3{
background-color:#b3e6ff;
height:40px;
line-height:40px;
padding-left:1%;
font-size:13px;
width:52%;
text-align:left;

margin-right:3%;
}
.tu_3 img{
float:right;
margin-right:2px;
margin-top:8px;}
.tu_3 input{
border:0px;
background-color:#b3e6ff;
float:left;
width:60%;
height:70%;
margin-top:2%;
margin-left:2%;
color:#2684b2;
}

.tu_2{
background-color:#b3e6ff;
height:40px;
line-height:40px;
padding-left:1%;
font-size:13px;
width:93%;
padding-left:2%;
text-align:left;
color:#f9cf46;
margin:auto;
}
.tu_2 input{
border:0px;
background-color:#b3e6ff;
float:left;
width:80%;
height:70%;
margin-top:2%;
margin-left:2%;
color:#2684b2;
}
.gao{
height:46px;
}
.gao1_1{
height:46px;
margin-top:8px;
}
.shuliang8{
height:40px;
line-height:25px;
width:40%;
margin:10px auto;
background-image:url(../images/tj.png);
background-size:100% 100%;
}
.shuliang8_1{
height:40px;
line-height:40px;
width:40%;
color:#FFFFFF;
text-align:center;
margin:10px auto;
background-image:url(../images/qqan.png);
background-size:100% 100%;
}
.sbj{
margin-top:10px;}
.touxiang{
height:96px;
width:96px;
margin:auto;
border:solid 4px #f7ebcb;
border-radius:48px;
background-image:url(../images/tx.png);}
.lishi-1{
width:20%;
margin-left:10%;
height:45px;
line-height:45px;
background-color:#17506d;
border-radius:6px;
text-align:center;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;}
.lishi-1_1{
width:20%;
margin-left:5%;
height:45px;
line-height:45px;
background-color:#17506d;
border-radius:6px;
text-align:center;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;}
.lishi-1_2{
width:45%;
margin-left:5%;
height:45px;
line-height:45px;
background-color:#17506d;
border-radius:6px;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;}
.lishi-1_3{
width:20%;
margin-left:5%;
height:45px;
line-height:45px;
background-color:#17506d;
border-radius:6px;
color:#FFFFFF;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
font-weight:800;}
.lishi-2{
width:20%;
margin-left:10%;
height:45px;
line-height:45px;
text-align:center;
color:#CCCCCC;
}
.tishikuang0_221{
height:220px;
padding-top:5px;
width:90%;
margin:auto;
background-color:#17506d;
}
.tishikuang0_222{
height:260px;
padding-top:5px;
width:90%;
margin:auto;
background-image:url(../images/ban.png);
background-size:100% 100%;
}
.gao1{
height:90px;}
.padding{
padding-left:5px;
padding-right:5px;
color:#FFFFFF;
line-height:30px;}
.lishi-3{
width:20%;
color:#CCCCCC;
margin-left:5%;
height:45px;
line-height:60px;
text-align:center;
}
.lishi-3 span{
font-size:18px;
font-weight:800;
color:#CCCCCC;}
.lishi-4{
width:45%;
height:90px;
margin-left:5%;
color:#CCCCCC;
}
.lishi-41{
width:40%;
height:45px;
line-height:60px;
margin-left:10%;
}
.lishi-4-1{
height:45px;
line-height:45px;}
.lishi-4-11{
height:45px;
line-height:30px;
color:#e4e4e4;
font-size:10px;}
.lishi-4-12{
height:45px;
line-height:25px;
color:#CCCCCC;}
.lishi-5{
width:20%;
height:45px;
line-height:60px;
color:#FF0000;
font-size:18px;
}
.lishi-51{
width:20%;
height:45px;
line-height:60px;
}
.fengexian{
height:1px;
width:90%;
margin:auto;
background-color:#999999;}
.fengexian1{
height:1px;
width:90%;
margin:auto;
background-color:#fff;}
.nianfen{
height:35px;
width:80%;
margin:auto;
text-align:center;
font-weight:800;
line-height:35px;
color:#d7a972;
font-size:23px;}
.denglu{
position:fixed;
top:15%;
left:5%;
z-index:15;

}
.denglu1{
height:150px;
padding-top:55px;
width:300px;
background-image:url(../images/denglu.png);
background-size:100% 100%;
position:relative;
}
.qux1{
position:absolute;
top:0px;
right:0px;
height:35px;
width:35px;}
.shuliang01{
height:40px;}
.shuliang02{
height:25px;
}
.shuliang02-1{
height:30px;
color:#FFFFFF;
text-align:center;
line-height:30px;
width:40%;
margin-left:5%;
background-image:url(../images/qqan.png);
background-size:100% 100%;
}
.shuliang02-2{
height:30px;
line-height:30px;
color:#FFFFFF;
text-align:center;
width:40%;
margin-left:5%;
background-image:url(../images/qqan.png);
background-size:100% 100%;
}

.zhuanrang{
position:fixed;
top:15%;
left:5%;
z-index:20;
display:none;
}
.zhuanrang1{
height:170px;
padding-top:8px;
width:300px;
background-color:#0e3447;
border-radius:10px;
border:solid 3px #b3e6ff;
position:relative;
}
.zhuanrang1-1{
height:35px;
line-height:35px;
text-align:center;
color:#fff;
font-size:20px;
margin-top:5px;
}
.zhuanrang1-11{
height:35px;
line-height:35px;
text-align:center;
color:#cccccc;
margin-top:5px;
}
.zhuanrang1-2{
height:35px;
line-height:35px;
text-align:center;
font-size:18px;
color:#ffffff;
font-weight:600;
}
.fgx{
height:2px;
background-color:#dfbc80;
width:100%;
margin:auto;
margin-bottom:10px;}
.anniu_gz{
width:80%;
height:30px;
background-image:url(../images/anniu.jpg);
background-repeat:repeat-x;
border:solid 1px #2183b7;
border-radius:5px;
margin:auto;
text-align:center;
line-height:30px;
color:#FFFFFF;}
.rhzhuce{
text-align:center;
 width:85%; 
 margin:auto; 
}
.wenzi1_1{
width:85%;
margin:auto;
margin-bottom:6px;}