@charset "GBK";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { margin:0px; background:#222; font-family:"微软雅黑"; font-size:14px;background-size:100% 100%;}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* 禁用iPhone中Safari的字号自动调整 */
html { -webkit-text-size-adjust: none; }
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* 设置图片视频等自适应调整 */
img { max-width: 100%; height: auto; width: auto9; /* ie8 */ }
.video embed, .video object, .video iframe { width: 100%; height: auto; }
 
/*dl*/
.dl{width:100%;height:100%; margin:0 auto;background:#535353;}
.dl_ico{ width:20%;margin:0 auto;padding:10px; }
.dl_txt{ width:80%;color:#666666; margin:0 auto;padding:4px;}
.dl_input{ width:100%;color:#666666;height40px;line-height:40px; }
.dl_btn1{width:40%; float:left;background:#f05b57; text-align:center;color:#fff;height40px;line-height:40px; }
.dl_btn2{width:40%; float:right; background:#f05b57; text-align:center;color:#fff;height40px;line-height:40px; }
.font_b1{ color:#FFFFFF;vertical-align: middle;}