@charset "GBK";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { margin:0px; background:#222; font-family:"微软雅黑"; font-size:14px;background-size:100% 100%;}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* 禁用iPhone中Safari的字号自动调整 */
html { -webkit-text-size-adjust: none; }
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* 设置图片视频等自适应调整 */
img { max-width: 100%; height: auto; width: auto9; /* ie8 */ }
.video embed, .video object, .video iframe { width: 100%; height: auto; }
 
.clear{clear:both;}
.top{ width: 100%;
    height: 75px;
    line-height:75px;
    background: #d30f25;
    font-size:14px;
    font-weight: bold;
    margin-bottom: 20px;}
.ico1{color:#FFFFFF; float:left;height: 75px; line-height: 75px; background: url(../images/ico1.png) no-repeat 4px  center;padding-left:40px;}
.ico1_txt1{color:#FFFFFF;height: 75px; line-height: 75px; float:left;}
.ico1_txt{color:#FFFFFF;height: 75px; line-height: 75px; float:left;}
.ico2{color:#FFFFFF; float:right;height: 75px; line-height: 75px; background: url(../images/ico2.png) no-repeat left center;padding-left:35px;padding-right:10px;}
.ico3{color:#FFFFFF; float:right;height: 75px; line-height: 75px; background: url(../images/ico3.png) no-repeat left center;padding-left:35px;padding-right:10px;}

.bj{
height:80px;
width:99%;
margin:0px auto;}
.bg1_bg{ width:48%; height:78px; border-top:2px solid #d30f25; float:left; margin:0 1%; background:#333333;}
.name{
height:38px;
line-height:38px;
padding-left:5px;
color:#FFFFFF;
font-weight:600;}
.jiage{
height:40px;
width:100%;}
.jiage_1{
width:40%;
line-height:40px;
text-align:center;
color:#FFFFFF;
font-weight:600;}
.jiantou{ text-align:left;
width:60%;
height:23px;
margin-top:10px;
 margin-bottom:7px;}
.left{
float:left;}
.right{
float:right;}

.bottom{
position:fixed;
bottom:0px;
left:0px;
color:#b3e6ff;
font-size:16px;
height:35px;
width:100%;
background:#666;
z-index:999;
border-bottom: 1px solid white;
}
.bottom_1{
height:35px;
color:#00FF00;
font-weight:600;
font-size:18px;
width:23%;
line-height:35px;
padding-left:2%;}
.bottom_2{
height:35px;
width:27%;
line-height:35px;
padding-left:2%;
color:#fff;}
.bottom_2 span{
color:#FF0000;}
.bottom_3{
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 16%;
    color: #FFFFFF;
    background: #d30f25;
}
.bottom_2_1{
height:17px;
line-height:17px;
width:100%;
font-size:12px;
white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.zyzs{
position:fixed;
top:15%;
left:5%;
z-index:10;
display:block;
background:white; 
}
.zyzs1{
height:255px;
padding-top:55px;
width:300px;
background-image:url(../images/zyzs.png);
background-size:100% 100%;
position:relative;
}
.zqux{
position:absolute;
top:0px;
right:0px;
height:30px;
width:30px;}
.jianjie{
height:25px;
width:80%;
line-height:25px;
margin:auto;
border-bottom:dashed 1px #999999;
color:#CCCCCC;}
.jianjie span{
color:#FF0000;}
.shezhi{
height:150px;
width:90%;
margin-left:5%;
border-bottom:dashed 1px #999999;
margin-top:8px;
color:#FFFFFF;}

.bg2_bg{ width:49%; height:78px; border-top:2px solid #d30f25; float:left; background:#333333;}

.bt1{     
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background: url(../images/ico4.png) no-repeat #333 5px center;
    font-weight: bold;
    color: #acacac;
    line-height: 50px;}
.bt1 span{margin-left:40px;}
.zd{ width:99%; height:auto; margin:0px auto;}
.zd_bg1{ width:31%; float:left; margin: 0 1.15%; background:#333333;margin-bottom: 15px;}
.zd_bg1_z{ 
    width: 100%;
    background: #d30f25;
    float: left;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    }
.zd_bg1_z_ico{     
   margin: 0 auto;
    width: 30%;
    height: 40px;
    padding-left: 30px;
    background: url(../images/zd_z.png) no-repeat left center;  
    color: white;
    line-height: 40px;
}
.zd_bg1_d_ico{     
    margin: 0 auto;
    width: 30%;
    height: 40px;
    padding-left: 30px;
    background: url(../images/zd_d.png) no-repeat left center;
    color: white;
    line-height: 40px;}

.zd_bg1_z_txt{ float:right;width:49%; height:40px; color:#fff; line-height:40px; text-align:left; font-weight:bold;}
.zd_bg1_c{   
    width: 100%;
       height:140px;
    background: #333;}
.zd_bg1_d{
    width: 100%;
height:40px;
    background: #069d02;
    float: left;
    margin: 0 auto;
    text-align: center;
}
.zd_bg2{ width:32%; height:180px;  float:left; background:#333333;}
.zd_bg1_c_1{
text-align:center;
color:#FFFFFF;}
.zd_bg1_c_1 span{
font-size:18px;
color:#FF0000;}
.zd_bg1_c_2{
height:25px;
font-size:12px;
line-height:25px;
text-align:center;
color:#FFFFFF;}

.jg{ width:98%; height:100px; margin:0px auto;}
.jg_l{ float:left; width:20%; height:50px; margin-top:25px; background:#333333; border-bottom:1px solid #e1273c; text-align:center; line-height:50px; color:#fff;}
.jg_r{ float:right; height:60px; width:100%; padding-top:20px; padding-right:20px;}
.zgzd_1{
height:30px;
line-height:30px;
text-align:right;
color:#FFFFFF;}
.fst{
height:500px;
width:98%;
margin:0 auto;
background-size:100% 100%;}
.bt2{ width:100%; height:40px;margin-top:15px; background:#333; font-size:14px; font-weight:bold; color:#acacac; line-height:40px;margin-bottom:15px;}
.bt2_1{ width:20%; height:40px; text-align:center; line-height:40px;color:#acacac; float:left;}
.bt2_2{ width:16%; height:39px; text-align:center; line-height:40px;color:#dc514c; border-bottom:1px solid #dc514c; float:left;}

.gg{ width:75%; height:auto; padding-left:5%;margin:0px auto;}
.gg li{list-style-type:square; color:#FFFFFF; line-height:25px;background: url(../images/libg.png) no-repeat left center;}
.gg li div{padding-left:10px;}
.gg li a:link{ color:#FFFFFF; line-height:25px;}
.gg li a:hover{ color:#FFFFFF;}

/*dl*/
.dl{width:100%;height:100%; margin:0 auto;background:#535353;}
.dl_ico{ width:20%;margin:0 auto;padding:0.3rem; }
.dl_txt{ width:80%;color:#666666; margin:0 auto;padding:0.2rem;}
.dl_input{ width:100%;color:#666666;height40px;line-height:40px; }
.dl_btn1{width:40%; float:left;background:#f05b57; text-align:center;color:#fff;height40px;line-height:40px; }
.dl_btn2{width:40%; float:right; background:#f05b57; text-align:center;color:#fff;height40px;line-height:40px; }

/*grzx*/
.grzx{ width:98%; height:auto; margin:0px auto; margin-top:20px;}
.grzx_tx{ width:100px; height:100px; float:left; padding-left:20px; margin-bottom:20px;}
.gezx_l1bor{ width:35%; height:auto; float:left;}
.gezx_l1{ width:100%; height:33px; float:left; padding-left:2%; color:#FFFFFF; line-height:33px;}
.gezx_l2{ width:15%; height:40px; margin-top:30px; background:#f05b57; text-align: center; margin-right:2%; float:left; line-height:40px; color:#fff;}
.xx_line{ width:100%; height:50px; float:left; background:#535353; border-bottom:1px solid #989898;}
.xx_l_ico{ width:50px; height:40px; float:left; padding-left:20px; padding-top:10px;}
.xx_l_txt{ width:50%; height:50px; line-height:50px; float:left; color:#FFFFFF; font-weight:bold;}
.xx_l_r{ float:right; height:40px; text-align:center; width:50px; padding-top:10px;}

/*zjcx*/
.zjcx{ width:98%; height:auto; margin:0px auto; background:#535353;}
.zjcx_line{ width:100%; height:50px; float:left;  border-bottom:1px solid #989898;}
.zjcx_l_l{ width:20%; height:50px; line-height:50px; padding-left:20px; color:#FFFFFF; float:left;}
.zjcx_l_r{ width:80%; height:50px; line-height:50px; text-align:right;color:#FFFFFF;}

/*xgsjh*/
.xgsj{width:98%; height:auto;background:#535353;padding-bottom:20px; padding-top:20px;} 
.xgsj_txt{ width:80%; height:50px; line-height:50px; color:#fff; margin:10px auto;}
.xgsj_bt{ width:40%; height:50px; line-height:50px; float:left;}
.xgsj_bor{ width:60%; padding:10px 0; float:left;margin:0 auto;}
.xgsj_input{ width:90%; height:30px; line-height:30px; color:#666666; text-align:10px;}
.dl_txt1{ width:80%; height:50px; line-height:50px; color:#666666; margin:0px auto; text-align: center;}
.dl_btn3{width:80%; height:50px;background:#f05b57; text-align:center; line-height:50px; color:#fff; margin-left:10%;}

/*cz*/
.cz_bt{ width:98%; height:50px; margin:0px auto; color:#FFFFFF; line-height:50px;}
.cz_input{ width:99%; height:48px; border:1px solid #fff; background:#000; line-height:48px; text-indent:20px; color:#FF0000;}
.cz_q{ width:100%; height:auto;}
.cz_q1{ width:21%; height:40px; float:left; background:#dc514c; margin:2%; color:#FFFFFF; text-align:center; line-height:40px;}
.cz_line{ width:100%; height:50px;  background:#535353; border-bottom:1px solid #989898;}

/*cjcd*/
.cjcd_t1{ width:100%; height:40px; text-align:center; background:#dc514c; font-size:18px; line-height:40px; color:fff;}
.cjcd_t2{ width:98%; height:60px; margin:0px auto; border-bottom:1px solid #ccc;}
.cjcd_t2_01{ width:60px; height:45px; float:left; text-align:center; padding-top:15px;}
.cjcd_t2_02{ width:70%; height:30px; line-height:30px; float:left;}
/*font*/
.font_b1{ color:#FFFFFF;margin-top:0.1rem;vertical-align: middle;padding-bottom: 0.15rem;}
.xuanzhong{
background:#333;
height:100%;
line-height:30px;
font-size:12px;
text-align:center;
color:#e1273c;
width:20%;
border-bottom:1px solid #e1273c;
}
.wxzhong{
background:#333;
height:100%;
line-height:30px;
font-size:12px;
text-align:center;
color:#ffffff;
width:20%;
}
.tck{
position:fixed;
background:white;
top:15%;
left:10%; 
width:80%;
z-index:10;
display:none;
padding-bottom:5px;
}
.rechargeNum{
 background:#f05b57;
float:left;
width:22.5%;
margin-left:2%;
height:30px;
line-height:30px;
text-align:center;
color:white;
}
/*cjcd*/
.cjcd_t1{ width:100%; height:40px; text-align:center; background:#dc514c; font-size:18px; line-height:40px; color:fff;}
.cjcd_t2{ width:98%; height:45px; margin:0px auto; border-bottom:1px solid #ccc; margin-bottom:10px;}
.cjcd_t2_01{ width:30px; height:30px; float:left; text-align:center; margin-top:-7.5px;}
.cjcd_t2_02{ width:80%; height:20px; line-height:20px; float:left;padding-left:10px;padding-top: 2px;}
.cjcd_j1{ width:98%; height:auto; margin:0px auto; line-height:25px;}
.cjcd_j1_bt{ height:23px; line-height:23px; float:left;}
.cjcd_j1_box{ width:100px; height:24px; float:left;}
.mytable{border-collapse:collapse;}
.mytable td{ border:1px solid #f16063; color:#f16063;}
.mytable1{border-collapse:collapse;}
.mytable1 td{ border:1px solid #1d9d56; color:#1d9d56;}
.cjcd_btn1{ width:45%; height:40px; line-height:40px; text-align:center; float:left; background:#0d9549; color:#fff;margin-left: 5px;}
.cjcd_btn2{ width:45%; height:40px; line-height:40px; text-align:center; float:right; background:#f16063; color:#fff;margin-right: 5px;}
 .outside{
                border: 1px solid black;
                height:23px;
                          }
           .minus{
                width:23px; 
                float: left;
	       text-align:left;
                height: 23px;
                line-height: 23px;
           }
           .plus{
                width:23px;
                float: right;
                height: 23px;
                line-height: 23px;
	      text-align:right;
           }
           .num{
                float: left;
                height: 23px;
                line-height: 23px;
	       width:46%;
           }
           .ii{ 
               border:none; margin-top:1px;
               text-align: center;
	      width:52px;
           }
/*font*/
.font_b1{ color:#FFFFFF;}


/*old*/
.tck1{
height:270px;
padding-top:55px;
width:300px;
background-image:url(../images/tck.png);
background-size:100% 100%;
position:relative;
}
.tck2{
height:230px;
padding-top:55px;
width:300px;
background-image:url(../images/tck.png);
background-size:100% 100%;
position:relative;
}
.qux{
position:absolute;
top:0px;
right:0px;
height:30px;
width:30px;}
.shuliang{
height:70px;}
.shuliang2{
height:25px;
line-height:25px;
width:10%;
margin-left:7%;
text-align:center;
color:#CCCCCC;}
.shuliang1{
height:25px;
}
.fgx{
height:2px;
background-color:#dfbc80;
width:100%;
margin:auto;
margin-bottom:10px;}
.shuliang3{
height:25px;
line-height:25px;
width:30%;
margin-left:10%;
color:#FFFFFF;
font-weight:700;
text-shadow:1px 1px 1px rgba(0,0,0,.3);}
.shuliang3 span{
font-size:26px;}
.shuliang4{
height:25px;
line-height:25px;
width:80%;
margin-left:10%;
color:#FFFFFF;
font-weight:700;
text-shadow:1px 1px 1px rgba(0,0,0,.3);
}
.shuliang5{
height:25px;
line-height:25px;
width:30%;
margin-left:10%;
color:#cccccc;
}
.shuliang5 span{
color:#FF0000;
font-size:26px;}
.shuliang6{
height:30px;
line-height:25px;
width:60%;
margin:auto;
background-image:url(../images/yebz.png);
background-size:100% 100%;
}
.zhuanrang{
position:fixed;
top:15%;
left:5%;
z-index:20;
display:none;
}
.zhuanrang1{
height:170px;
padding-top:8px;
width:300px;
background-color:#0e3447;
border-radius:10px;
border:solid 3px #b3e6ff;
position:relative;
}
.zhuanrang1-1{
height:35px;
line-height:35px;
text-align:center;
color:#fff;
font-size:20px;
margin-top:5px;
}
.zhuanrang1-11{
height:35px;
line-height:35px;
text-align:center;
color:#cccccc;
margin-top:5px;
}
.zhuanrang1-2{
height:35px;
line-height:35px;
text-align:center;
font-size:18px;
color:#ffffff;
font-weight:600;
}
.shuliang02{
height:25px;
}
.shuliang02-1{
height:30px;
color:#FFFFFF;
text-align:center;
line-height:30px;
width:40%;
margin-left:5%;
background-image:url(../images/qqan.png);
background-size:100% 100%;
}
.shuliang02-2{
height:30px;
line-height:30px;
color:#FFFFFF;
text-align:center;
width:40%;
margin-left:5%;
background-image:url(../images/qqan.png);
background-size:100% 100%;
}
.zhuanrang{
position:fixed;
top:15%;
left:5%;
z-index:20;
display:none;
}
.zhuanrang1{
height:170px;
padding-top:8px;
width:300px;
background-color:#0e3447;
border-radius:10px;
border:solid 3px #b3e6ff;
position:relative;
}
.zhuanrang1-1{
height:35px;
line-height:35px;
text-align:center;
color:#fff;
font-size:20px;
margin-top:5px;
}
.zhuanrang1-11{
height:35px;
line-height:35px;
text-align:center;
color:#cccccc;
margin-top:5px;
}
.zhuanrang1-2{
height:35px;
line-height:35px;
text-align:center;
font-size:18px;
color:#ffffff;
font-weight:600;
}