body{
font-family:Î¢ÈíÑÅºÚ;
font-size:14px;
background-image:url(../images/bj.jpg);
background-size:100% 100%;
background-attachment:scroll;
margin-bottom:100px;
padding-left:3px;
padding-right:3px;
}
.fx_neir{
color:#888;
padding:6px 15px;}
.fx_neir span{
font-size:15px;
color:#FF0000;
}
.fx_top{
width:100%;
height:45px;
background-color:#19181e;}
.fx_bt{
height:45px;
width:100%;
background-image:url(../images/btbj.jpg);
background-repeat:repeat-x;
font-size:18px;
line-height:45px;
text-align:center;
}
.fx_1{
height:15px; border-bottom:solid 1px #777;}
.fx_2{
height:50px; line-height:50px;}
.fx_bottom{
height:35px;
border-radius:3px;
background-image:url(../images/anniu.jpg);
background-repeat:repeat-x;
line-height:30px;
color:#FFFFFF;
font-size:16px;
padding-top:3px;
}
.anniu{margin:auto; width:100px; text-align:center;}
.left{float:left;}
.anniunr{
margin-left:10px;}